@using MvcCv.Models.Entity
@model List<tblProject>
<div class="resume-section-content">
    <h2 class="mb-5">
        <i class="fas fa-paint-brush"></i> My Projects
    </h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 mb-4">
                <div class="card hobi-card">
                    <div class="card-body">
                        <img src="@item.ImageUrl" alt="" style="margin-bottom:1px" height=220 width="300" class="popup-image" />

                        <a href="@item.Link" target="_blank" rel="noopener noreferrer">@item.Title</a>


                    </div>
                </div>
            </div>
        }
    </div>
</div>
<hr class="m-0" />