
@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post">
    <input type="text" name="Title" class="form-control" placeholder="Enter Title" /><br />
    <input type="text" name="Subtitle" class="form-control" placeholder="Enter Subtitle" /><br />
    <input type="text" name="Date" class="form-control" placeholder="Enter Date" /><br />
    <textarea placeholder="Enter Description" name="Description" class="form-control" rows="5"></textarea>
    <br />
    <button class="btn btn-info">Add</button>
</form>